{% extends "base.html" %}
{% block content %}
{% load static %}
<style>
    .custom-container {
        padding: 20px;
        /* Add space from left and right sides */
        background-color: #fff;
        /* Add white background */
        border-radius: 10px;
        /* Add rounded corners */
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        /* Add box shadow for better visibility */
    }
</style>
<!-- body containt start here -->
<!-- This is rameshwar -->
<a class="btn btn-info mx-3 px-3"  data-toggle="modal" data-target="#filter_products"><i class="bi bi-funnel"></i> Filter</a>

<div class="modal fade" id="filter_products" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document" style="max-width:1000px;">
        <div class="modal-content">
            <div class="modal-header bg-gradient-primary text-light">
                <h5 class="modal-title" id="exampleModalLongTitle">Create Filter</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- Filter options -->
                <div class="form-group">
                    <label for="sortBy">Sort by:</label>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="sortBy" id="featured">
                        <label class="form-check-label" for="featured">Featured</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="sortBy" id="bestSelling">
                        <label class="form-check-label" for="bestSelling">Best selling</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="sortBy" id="bestSelling">
                        <label class="form-check-label" for="bestSelling">A-Z</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="sortBy" id="bestSelling">
                        <label class="form-check-label" for="bestSelling">Z-A</label>
                    </div>
                    <!-- Add more radio buttons for other sorting options -->
                </div>
                <div class="form-group">
                    <label for="priceRange">Price range:</label>
                    <input type="range" class="form-control" id="priceRange" min="100" max="10000" value="100" step="50">
                    <input type="number" class="form-control" id="minPrice" placeholder="Min price" min="100" max="9900">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Apply Filter</button>
            </div>
        </div>
    </div>
</div>


<div class="container-fluid custom-container mt-3">
    <div class="d-flex justify-content-between ">
        <h4 class="text-primary"><b>Category Title</b></h4>
        <h4><a href=""><i class="bi bi-arrow-right-circle-fill"></i></a> &nbsp;&nbsp;&nbsp;</h4>
    </div>
    <hr style="margin:0px;">
    <div class="row">
        <!-- Card 1 -->
        <hr><br>
        {% for product in products %}
        <div class="col-md-2 mb-2 mt-2">
            <div class="card shopping-card">
                <a href="{% url "product_details" product.id %}">
                    <img src="{{ product.image.url }}" style="width:100%;" class="card-img-top" alt="Product 1 Image">
                </a>
                <div class="card-body">
                    <h5 class="card-title font-weight-bold">{{ product.name }}</h5>
                    <p class="card-text">
                        <span class="price">₹{{ product.price }}</span>
                        {% if product.strikethrough %} <br>
                        <del class="strickthrough">₹{{ product.strikethrough }}</del>
                        <span class="discount" id="discount_{{ product.id }}">Discount calculating...</span>
                        <script>
                            // Calculate discount using JavaScript
                            var salePrice_ {
                                {
                                    product.id
                                }
                            } = {
                                {
                                    product.price
                                }
                            };
                            var originalPrice_ {
                                {
                                    product.id
                                }
                            } = {
                                {
                                    product.strikethrough
                                }
                            };
                            var discount_ {
                                {
                                    product.id
                                }
                            } = ((originalPrice_ {
                                {
                                    product.id
                                }
                            } - salePrice_ {
                                {
                                    product.id
                                }
                            }) / originalPrice_ {
                                {
                                    product.id
                                }
                            }) * 100;

                            // Update the discount span with the calculated value
                            document.getElementById('discount_{{ product.id }}').innerText = discount_ {
                                {
                                    product.id
                                }
                            }.toFixed(2) + '% Off';
                        </script>
                        {% endif %}
                        <center>
                            <a href="#" class="btn btn-primary btn-sm">Add to Cart</a>
                        </center>
                    </p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<div class="container-fluid custom-container mt-3">
    <div class="d-flex justify-content-between ">
        <h4 class="text-primary"><b>Category Title</b></h4>
        <h4><a href=""><i class="bi bi-arrow-right-circle-fill"></i></a> &nbsp;&nbsp;&nbsp;</h4>
    </div>
    <hr style="margin:0px;">
    <div class="row">
        <!-- Card 1 -->
        <hr><br>
        {% for product in products %}
        <div class="col-md-2 mb-2 mt-2">
            <div class="card shopping-card">
                <a href="{% url "product_details" product.id %}">
                    <img src="{{ product.image.url }}" style="width:100%;" class="card-img-top" alt="Product 1 Image">
                </a>
                <div class="card-body">
                    <h5 class="card-title font-weight-bold">{{ product.name }}</h5>
                    <p class="card-text">
                        <span class="price">₹{{ product.price }}</span>
                        {% if product.strikethrough %} <br>
                        <del class="strickthrough">₹{{ product.strikethrough }}</del>
                        <span class="discount" id="discount_{{ product.id }}">Discount calculating...</span>
                        <script>
                            // Calculate discount using JavaScript
                            var salePrice_ {
                                {
                                    product.id
                                }
                            } = {
                                {
                                    product.price
                                }
                            };
                            var originalPrice_ {
                                {
                                    product.id
                                }
                            } = {
                                {
                                    product.strikethrough
                                }
                            };
                            var discount_ {
                                {
                                    product.id
                                }
                            } = ((originalPrice_ {
                                {
                                    product.id
                                }
                            } - salePrice_ {
                                {
                                    product.id
                                }
                            }) / originalPrice_ {
                                {
                                    product.id
                                }
                            }) * 100;

                            // Update the discount span with the calculated value
                            document.getElementById('discount_{{ product.id }}').innerText = discount_ {
                                {
                                    product.id
                                }
                            }.toFixed(2) + '% Off';
                        </script>
                        {% endif %}
                        <center>
                            <a href="#" class="btn btn-primary btn-sm">Add to Cart</a>
                        </center>
                    </p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>


<script>
    const priceRange = document.getElementById('priceRange');
    const minPrice = document.getElementById('minPrice'); 

    // Initialize min and max price values
    minPrice.value = priceRange.min; 

    // Update min price input when range input changes
    priceRange.addEventListener('input', function() {
        minPrice.value = this.value;
    });
 
    // Update range input when min price input changes
    minPrice.addEventListener('input', function() {
        priceRange.value = this.value;
    });
 
</script>

<!-- Vendor JS Files -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"> </script>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
</script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
</script>

{% endblock content %}